* {
    box-sizing: content-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}


/* =========================================== */

html {
    background-color: #FB8D67;
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#header {
    height: 100px;
}

#header h2 {
    text-align: center;
    line-height: 100px;
}

.box-menu-accordion {
    width: 500px;
    background-color: #356ffa;
    margin: 0 auto;
    border: 3px inset #3f15b2;
    border-bottom: none;
}

.box-menu-accordion:last-child {
    border-bottom: 3px inset #3f15b2;
}

.accordion-title {
    height: 50px;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: white;
    cursor: pointer;
}

.accordion-detail {
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    display: none;
}